<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <!-- Action Servlet Configuration -->
    <distributable/>
    <listener>
        <listener-class>com.sun.xml.ws.transport.http.servlet.WSServletContextListener</listener-class>
    </listener>
    <listener>
        <listener-class>com.badiyan.uk.online.util.SessionCounter</listener-class>
    </listener>
    <listener>
        <listener-class>
		com.valonyx.fitness.servlets.SetVideoUploadServlet
		</listener-class>
    </listener>
    <servlet>
        <servlet-name>action</servlet-name>
        <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
        <init-param>
            <param-name>config</param-name>
            <param-value>/WEB-INF/struts-config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>debug</param-name>
            <param-value>2</param-value>
        </init-param>
        <init-param>
            <param-name>detail</param-name>
            <param-value>2</param-value>
        </init-param>
        <init-param>
            <param-name>validate</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>maxFileSize</param-name>
            <param-value>300M</param-value>
        </init-param>
        <load-on-startup>5</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>StartupServlet</servlet-name>
        <display-name>Startup Servlet</display-name>
        <servlet-class>com.badiyan.uk.online.servlets.UKOnlineStartupServlet</servlet-class>
        <init-param>
            <param-name>cu.adminUsername</param-name>
            <param-value>admin</param-value>
        </init-param>
        <init-param>
            <param-name>cu.adminPassword</param-name>
            <param-value>spork</param-value>
        </init-param>
        <init-param>
            <param-name>cu.adminFirstName</param-name>
            <param-value>Leon</param-value>
        </init-param>
        <init-param>
            <param-name>cu.adminLastName</param-name>
            <param-value>Freon</param-value>
        </init-param>
        <init-param>
            <param-name>cu.adminEmail</param-name>
            <param-value>admin@valeowc.com</param-value>
        </init-param>
        <init-param>
            <param-name>logLevel</param-name>
            <param-value>debug</param-value>
        </init-param>
        <init-param>
            <param-name>logPattern</param-name>
            <param-value>%-6p%-30c{1}%-25d{ISO8601}%m%n</param-value>
        </init-param>
        <init-param>
            <param-name>cu.universityName</param-name>
            <param-value>Ecolab U</param-value>
        </init-param>
        <init-param>
            <param-name>cu.companyName</param-name>
            <param-value>Valeo</param-value>
        </init-param>
        <init-param>
            <param-name>cu.defaultPersonType</param-name>
            <param-value>Student</param-value>
        </init-param>
        <init-param>
            <param-name>cu.defaultCompanyType</param-name>
            <param-value>Corporation</param-value>
        </init-param>
        <init-param>
            <param-name>cu.pathToBusinessPackage</param-name>
            <param-value>com.badiyan.corpu.business</param-value>
        </init-param>
        <init-param>
            <param-name>cu.clientDbPackageName</param-name>
            <param-value>mysql</param-value>
        </init-param>
        <init-param>
            <param-name>cu.formSubmitPath</param-name>
            <param-value>/valeo/admin</param-value>
        </init-param>
        <init-param>
            <param-name>cu.clientPackageName</param-name>
            <param-value>valeo</param-value>
            <!-- <param-value>iotlok</param-value> -->
        </init-param>
        <init-param>
            <param-name>cu.host</param-name>
            <param-value>216.139.232.124</param-value>
        </init-param>
        <init-param>
            <param-name>cu.port</param-name>
            <param-value>8080</param-value>
        </init-param>
        <init-param>
            <param-name>cu.webDomain</param-name>
            <param-value>http://localhost:8080/valeo</param-value>
        </init-param>
        <init-param>
            <param-name>cu.dbType</param-name>
            <param-value>mySQL</param-value>
        </init-param>
        <init-param>
            <param-name>cu.dbName</param-name>
            <param-value>valeo</param-value>
        </init-param>
        <init-param>
            <param-name>cu.dbUser</param-name>
            <param-value>root</param-value>
        </init-param>
        <init-param>
            <param-name>cu.dbHost</param-name>
            <param-value>localhost</param-value>
        </init-param>
        <init-param>
            <param-name>cu.dbPassword</param-name>
            <param-value>spork</param-value>
        </init-param>
        <init-param>
            <param-name>cu.dbPort</param-name>
            <param-value>1521</param-value>
        </init-param>
        <init-param>
            <param-name>cu.useDatabase</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>mail.smtp.host</param-name>
            <param-value>localhost</param-value>
        </init-param>
        <init-param>
            <param-name>cu.jdbcDriver</param-name>
            <param-value>oracle.jdbc.driver.OracleDriver</param-value>
        </init-param>
        <init-param>
            <param-name>cu.mail.from</param-name>
            <param-value>admin@valeowc.com</param-value>
        </init-param>
        <init-param>
            <param-name>cu.CourseTrackingEnabled</param-name>
            <param-value>false</param-value>
        </init-param>
        <init-param>
            <param-name>cu.ExamTrackingEnabled</param-name>
            <param-value>false</param-value>
        </init-param>
        <init-param>
            <param-name>cu.root</param-name>
            <param-value>d:/src/valeo/cu/</param-value>
        </init-param>
        <init-param>
            <param-name>cu.displayDateFormat</param-name>
            <param-value>MM/dd/yy</param-value>
        </init-param>
        <init-param>
            <param-name>cu.displayTimeFormat</param-name>
            <param-value>h:mm a</param-value>
        </init-param>
        <init-param>
            <param-name>cu.templateDirectory</param-name>
            <param-value>templates/</param-value>
        </init-param>
        <init-param>
            <param-name>cu.templateSuffix</param-name>
            <param-value>.htm</param-value>
        </init-param>
        <init-param>
            <param-name>cu.logDirectory</param-name>
            <param-value>logs/</param-value>
        </init-param>
        <init-param>
            <param-name>cu.customLogfile</param-name>
            <param-value>system.log</param-value>
        </init-param>
        <init-param>
            <param-name>cu.standardMenuColor</param-name>
            <param-value>ffffff</param-value>
        </init-param>
        <init-param>
            <param-name>cu.adminMenuColor</param-name>
            <param-value>ffffff</param-value>
        </init-param>
        <init-param>
            <param-name>cu.courseMenuColor</param-name>
            <param-value>000000</param-value>
        </init-param>
        <init-param>
            <param-name>cu.loggingEnabled</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>cu.allLoggingEnabled</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>cu.sqlLoggingEnabled</param-name>
            <param-value>false</param-value>
        </init-param>
        <init-param>
            <param-name>cu.errorLoggingEnabled</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>cu.debugLoggingEnabled</param-name>
            <param-value>false</param-value>
        </init-param>
        <init-param>
            <param-name>cu.criticalLoggingEnabled</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>cu.exceptionLoggingEnabled</param-name>
            <param-value>false</param-value>
        </init-param>
        <init-param>
            <param-name>cu.authLoggingEnabled</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>cu.userLoggingEnabled</param-name>
            <param-value>false</param-value>
        </init-param>
        <init-param>
            <param-name>cu.infoLoggingEnabled</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>cu.defaultColor</param-name>
            <param-value>Black</param-value>
        </init-param>
        <init-param>
            <param-name>cu.authLoggingColor</param-name>
            <param-value>Black</param-value>
        </init-param>
        <init-param>
            <param-name>cu.criticalLoggingColor</param-name>
            <param-value>Red</param-value>
        </init-param>
        <init-param>
            <param-name>cu.debugLoggingColor</param-name>
            <param-value>Black</param-value>
        </init-param>
        <init-param>
            <param-name>cu.errorLoggingColor</param-name>
            <param-value>Red</param-value>
        </init-param>
        <init-param>
            <param-name>cu.exceptionLoggingColor</param-name>
            <param-value>Black</param-value>
        </init-param>
        <init-param>
            <param-name>cu.infoLoggingColor</param-name>
            <param-value>Black</param-value>
            <!-- <description>Info logging color</description> -->
        </init-param>
        <init-param>
            <param-name>cu.sqlLoggingColor</param-name>
            <param-value>Black</param-value>
            <!-- <description>SQL logging color</description> -->
        </init-param>
        <init-param>
            <param-name>cu.userLoggingColor</param-name>
            <param-value>Black</param-value>
            <!-- <description>User logging color</description> -->
        </init-param>
        <init-param>
            <param-name>cu.libDirectory</param-name>
            <param-value>lib/</param-value>
            <!-- <description>Library directory relative to cu.root</description> -->
        </init-param>
        <init-param>
            <param-name>cu.keyDirectory</param-name>
            <param-value>keys/</param-value>
            <!-- <description>Keys directory relative to cu.root</description> -->
        </init-param>
        <init-param>
            <param-name>cu.privateKeyFile</param-name>
            <param-value>ICS2Test.pvt</param-value>
            <!-- <description>Private key is contained in this file</description> -->
        </init-param>
        <init-param>
            <param-name>cu.certificateFile</param-name>
            <param-value>ICS2Test.crt</param-value>
            <!-- <description>Certificate is contained in this file</description> -->
        </init-param>
        <init-param>
            <param-name>cu.cs.serverId</param-name>
            <param-value>CyberSource_SJC_US</param-value>
            <!-- <description>CyberSource server ID</description> -->
        </init-param>
        <init-param>
            <param-name>cu.cs.serverCertificateFile</param-name>
            <param-value>CyberSource_SJC_US.crt</param-value>
            <!-- <description>CyberSource server certificate is contained in this file</description> -->
        </init-param>
        <init-param>
            <param-name>cu.cs.serverURL</param-name>
            <param-value>http://ics2test.ic3.com</param-value>
            <!-- <description>CyberSource server URL</description> -->
        </init-param>
        <init-param>
            <param-name>cu.sslEnabled</param-name>
            <param-value>false</param-value>
            <!-- <description>Enable Secure Socket Layer</description> -->
        </init-param>
        <init-param>
            <param-name>cu.se.eventLogfile</param-name>
            <param-value>/logs/event.log</param-value>
            <!-- <description>ervlet enabler event logfile path</description> -->
        </init-param>
        <init-param>
            <param-name>cu.se.errorLogfile</param-name>
            <param-value>/logs/error.log</param-value>
            <!-- <description>Servlet enabler error logfile path</description> -->
        </init-param>
        <init-param>
            <param-name>cu.urlPrefix</param-name>
            <param-value/>
            <!-- <description>Prefix used to do local demos</description> -->
        </init-param>
        <init-param>
            <param-name>cu.MonitorsEnabled</param-name>
            <param-value>false</param-value>
            <!-- <description>Cron Monitor settings - whether to run the monitors or not</description> -->
        </init-param>
        <init-param>
            <param-name>cu.EnrollmentExpiration</param-name>
            <param-value>2</param-value>
            <!-- <description>how many full business days to allow for enrollments to be approved</description> -->
        </init-param>
        <init-param>
            <param-name>cu.EnrollmentExpiration</param-name>
            <param-value>2</param-value>
            <!-- <description>how many full business days to allow for enrollments to be approved</description> -->
        </init-param>
        <init-param>
            <param-name>cu.PrerequisiteLeadTime</param-name>
            <param-value>1</param-value>
            <!-- <description>how many full business days to allow before checking prerequisites</description> -->
        </init-param>
        <init-param>
            <param-name>cu.MonitorHour</param-name>
            <param-value>0</param-value>
            <!-- <description>hour at which to start monitors</description> -->
        </init-param>
        <init-param>
            <param-name>cu.MonitorMinute</param-name>
            <param-value>0</param-value>
            <!-- <description>minute at which to start monitors</description> -->
        </init-param>
        <init-param>
            <param-name>cu.Sunday</param-name>
            <param-value>false</param-value>
            <!-- <description>whether to run monitors on Sunday</description> -->
        </init-param>
        <init-param>
            <param-name>cu.Monday</param-name>
            <param-value>true</param-value>
            <!-- <description>whether to run monitors on Monday</description> -->
        </init-param>
        <init-param>
            <param-name>cu.Tuesday</param-name>
            <param-value>true</param-value>
            <!-- <description>whether to run monitors on Tuesday</description> -->
        </init-param>
        <init-param>
            <param-name>cu.Wednesday</param-name>
            <param-value>true</param-value>
            <!-- <description>whether to run monitors on Wednesday</description> -->
        </init-param>
        <init-param>
            <param-name>cu.Thursday</param-name>
            <param-value>true</param-value>
            <!-- <description>whether to run monitors on Thursday</description> -->
        </init-param>
        <init-param>
            <param-name>cu.Friday</param-name>
            <param-value>true</param-value>
            <!-- <description>whether to run monitors on Friday</description> -->
        </init-param>
        <init-param>
            <param-name>cu.Saturday</param-name>
            <param-value>true</param-value>
            <!-- <description>whether to run monitors on Saturday</description> -->
        </init-param>
        <init-param>
            <param-name>cu.SearchResultsPerPage</param-name>
            <param-value>999</param-value>
            <!-- <description>Number of course search results to show on each page</description> -->
        </init-param>
        <init-param>
            <param-name>cu.runDaily</param-name>
            <param-value>true</param-value>
            <!-- <description>Whether to run the email reminder system daily</description> -->
        </init-param>
        <init-param>
            <param-name>cu.runDailyHour</param-name>
            <param-value>15</param-value>
            <!-- <description>Settings for the email reminder system</description> -->
        </init-param>
        <init-param>
            <param-name>cu.runDailyMinute</param-name>
            <param-value>05</param-value>
            <!-- <description>Settings for the email reminder system</description> -->
        </init-param>
        <init-param>
            <param-name>cu.runDailyEmail</param-name>
            <param-value>admin@plan2perform.com</param-value>
            <!-- <description>Settings for the email reminder system</description> -->
        </init-param>
        <init-param>
            <param-name>cu.runDailyContactEmail</param-name>
            <param-value>admin@plan2performcom</param-value>
            <!-- <description>Settings for the email reminder system</description> -->
        </init-param>
        <init-param>
            <param-name>cu.runDailyEmailOrder</param-name>
            <param-value>both</param-value>
            <!-- <description>Settings for the email reminder system</description> -->
        </init-param>
        <init-param>
            <param-name>cu.runDailyClass</param-name>
            <param-value>com.badiyan.cu.cle.mail.TaskLoader</param-value>
            <!-- <description>Settings for the email reminder system</description> -->
        </init-param>
        <init-param>
            <param-name>cu.mail.subject</param-name>
            <param-value>System Email</param-value>
            <!-- <description>Settings for the email reminder system</description> -->
        </init-param>
        <init-param>
            <param-name>cu.mailTemplateSuffix</param-name>
            <param-value>.txt</param-value>
            <!-- <description>Settings for the email reminder system</description> -->
        </init-param>
        <init-param>
            <param-name>cu.mailTemplateDirectory</param-name>
            <param-value>mail-templates/</param-value>
            <!-- <description>Settings for the email reminder system</description> -->
        </init-param>
        <init-param>
            <param-name>cu.RMISynchronizationEnabled</param-name>
            <param-value>false</param-value>
            <!-- <description>Whether RMI inter-server synchronization is enabled or not</description> -->
        </init-param>
        <init-param>
            <param-name>cu.RMISynchronizationUseHostName</param-name>
            <param-value>true</param-value>
            <!-- <description>If true, use hostnames for RMI communication, else IP address</description> -->
        </init-param>
        <init-param>
            <param-name>cu.Cache.freeMemoryCutoff</param-name>
            <param-value>5.0</param-value>
            <!-- <description>Cache controls - freeMemoryCutoff is expressed in MB: when free memory drops below this number stop caching objects...</description> -->
        </init-param>
        <init-param>
            <param-name>cu.MinimumPasswordLength</param-name>
            <param-value>3</param-value>
            <!-- <description>The minimum number of characters that a password in this UK system can be.</description> -->
        </init-param>
        <init-param>
            <param-name>cu.defaultLanguage</param-name>
            <param-value>english</param-value>
            <!-- <description>Default language.</description> -->
        </init-param>
        <init-param>
            <param-name>uk.online.assessment.url</param-name>
            <param-value>test_assessment_api.jsp</param-value>
            <!-- <description>URL of online assessment service.</description> -->
        </init-param>
        <init-param>
            <param-name>uk.detailed.assessment.url</param-name>
            <param-value>test_detailed_assessment_api.jsp</param-value>
            <!-- <description>URL of detailed assessment report service.</description> -->
        </init-param>
        <init-param>
            <param-name>uk.summary.assessment.url</param-name>
            <param-value>test_summary_assessment_api.jsp</param-value>
            <!-- <description>URL of summary assessment report service.</description> -->
        </init-param>
        <init-param>
            <param-name>uk.forum.db</param-name>
            <param-value>jforum</param-value>
            <!-- <description>The Torque property name for the content database.</description> -->
        </init-param>
        <init-param>
            <param-name>cu.imagesFolder</param-name>
            <param-value>/images/</param-value>
        </init-param>
        <init-param>
            <param-name>cu.helpFolder</param-name>
            <param-value>/help/</param-value>
        </init-param>
        <init-param>
            <param-name>cu.coursesFolder</param-name>
            <param-value>/courses/</param-value>
        </init-param>
        <init-param>
            <param-name>cu.resourcesFolder</param-name>
            <param-value>/resources/</param-value>
        </init-param>
        <init-param>
            <param-name>cu.assignmentsFolder</param-name>
            <param-value>/assignments/</param-value>
        </init-param>
        <init-param>
            <param-name>cu.dbSyncServer</param-name>
            <param-value>8081</param-value>
        </init-param>
        <init-param>
            <param-name>cu.masterServer</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>cu.autoIncrementDB</param-name>
            <param-value>false</param-value>
        </init-param>
        <init-param>
            <param-name>listings</param-name>
            <param-value>false</param-value>
        </init-param>
        <init-param>
            <param-name>qbms.isProduction</param-name>
            <param-value>true</param-value>
            <!-- <description>CyberSource server URL</description> -->
        </init-param>
        <init-param>
            <param-name>authorize_net_post_url</param-name>
            <param-value>https://cardpresent.authorize.net/gateway/transact.dll</param-value>
        </init-param>
        <init-param>
            <param-name>authorize_net_test_post_url</param-name>
            <param-value>https://test.authorize.net/gateway/transact.dll</param-value>
        </init-param>
        <init-param>
            <param-name>x_cpversion</param-name>
            <param-value>1.0</param-value>
        </init-param>
        <init-param>
            <param-name>x_login</param-name>
            <param-value>7QsYh242</param-value>
        </init-param>
        <init-param>
            <param-name>x_test_login</param-name>
            <param-value>7G6Ux97Sqyst</param-value>
        </init-param>
        <init-param>
            <param-name>x_tran_key</param-name>
            <param-value>7Em8H764E96tp2AS</param-value>
        </init-param>
        <init-param>
            <param-name>x_test_tran_key</param-name>
            <param-value>76kf798S7RtqEyxQ</param-value>
        </init-param>
        <init-param>
            <param-name>x_market_type</param-name>
            <param-value>2</param-value>
        </init-param>
        <init-param>
            <param-name>x_device_type</param-name>
            <param-value>5</param-value>
        </init-param>
        <init-param>
            <param-name>google_analytics_account</param-name>
            <param-value>UA-7869165-5</param-value>
        </init-param>
        <init-param>
            <param-name>signup_url</param-name>
            <param-value>admin/terms-of-service.jsp</param-value>
        </init-param>
        <init-param>
            <param-name>ehrEnabled</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>herbEnabled</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>hairAnalysisEnabled</param-name>
            <param-value>true</param-value>
        </init-param>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>AICCManager</servlet-name>
        <servlet-class>com.badiyan.corpu.AICCManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.badiyan.uk.servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.badiyan.uk.servlets.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationServlet</servlet-name>
        <servlet-class>com.badiyan.uk.servlets.RegistrationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CourseTreeChannelServlet</servlet-name>
        <servlet-class>com.badiyan.uk.servlets.CourseTreeChannelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PersonSearchServlet</servlet-name>
        <servlet-class>com.badiyan.uk.servlets.PersonSearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompanySearchServlet</servlet-name>
        <servlet-class>com.badiyan.uk.servlets.CompanySearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewCompanyServlet</servlet-name>
        <servlet-class>com.badiyan.uk.servlets.NewCompanyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PersonEditServlet</servlet-name>
        <servlet-class>com.badiyan.uk.servlets.PersonEditServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PersonNewServlet</servlet-name>
        <servlet-class>com.badiyan.uk.servlets.PersonNewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PersonPasswordEditServlet</servlet-name>
        <servlet-class>com.badiyan.uk.servlets.PersonPasswordEditServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompanyEditServlet</servlet-name>
        <servlet-class>com.badiyan.uk.servlets.CompanyEditServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DepartmentProfileEditServlet</servlet-name>
        <servlet-class>com.badiyan.uk.servlets.DepartmentProfileEditServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DBSyncServlet</servlet-name>
        <servlet-class>com.badiyan.uk.servlets.DBSyncServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DBUpdateServlet</servlet-name>
        <servlet-class>com.badiyan.uk.servlets.DBUpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DBUpdateConfirmServlet</servlet-name>
        <servlet-class>com.badiyan.uk.servlets.DBUpdateConfirmServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DBPersonUpdateServlet</servlet-name>
        <servlet-class>com.badiyan.uk.servlets.DBPersonUpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DBPersonUpdateConfirmServlet</servlet-name>
        <servlet-class>com.badiyan.uk.servlets.DBPersonUpdateConfirmServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DBSyncTabletUserApproveServlet</servlet-name>
        <servlet-class>com.badiyan.uk.servlets.DBSyncTabletUserApproveServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAuthorsProfile</servlet-name>
        <servlet-class>com.badiyan.uk.online.servlets.GetAuthorsProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReceiveSyncObjectsFromServerServlet</servlet-name>
        <servlet-class>com.badiyan.uk.online.servlets.ReceiveSyncObjectsFromServerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JSONServlet</servlet-name>
        <servlet-class>com.badiyan.uk.online.servlets.JSONServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dwr-invoker</servlet-name>
        <display-name>DWR Servlet</display-name>
        <servlet-class>org.directwebremoting.servlet.DwrServlet</servlet-class>
        <init-param>
            <param-name>debug</param-name>
            <param-value>true</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>ScheduleServlet</servlet-name>
        <servlet-class>com.badiyan.uk.online.servlets.ScheduleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ScheduleServletPlastique</servlet-name>
        <servlet-class>com.badiyan.uk.online.servlets.ScheduleServletPlastique</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InventoryServlet</servlet-name>
        <servlet-class>com.badiyan.uk.online.servlets.InventoryServlet</servlet-class>
    </servlet>
    <!-- Action Servlet Mapping -->
    <servlet>
        <servlet-name>ClientServlet</servlet-name>
        <servlet-class>com.badiyan.uk.online.servlets.ClientServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewCheckoutCodeAction</servlet-name>
        <servlet-class>com.badiyan.uk.online.struts.NewCheckoutCodeAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QBWebConnectorSvc</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <!--
    <servlet>
        <servlet-name>QBMSCallbackServlet</servlet-name>
        <servlet-class>com.badiyan.uk.online.servlets.QBMSCallbackServlet</servlet-class>
    </servlet>
	-->
    <!-- This servlet processes callbacks from QBMS -->
    <servlet>
        <servlet-name>qbmsCallbackHandler</servlet-name>
        <servlet-class>com.intuit.qbmsconnector.servlet.QbmsCallbackHandlingServlet</servlet-class>
        <!-- This is required -->
        <init-param>
            <param-name>qbmsCallbackListenerClass</param-name>
            <param-value>com.valeo.qbms.QbmsCallbackListener</param-value>
        </init-param>
        <!-- This is optional - use it if you'd like to encrypt your connection tickets -->
        <!--
			<init-param>
					<param-name>connectionTicketEncryptorClass</param-name>
					<param-value>com.intuit.qbmsconnector.crypto.DesConnectionTicketEncryptor</param-value>
			</init-param>
			-->
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>PractitionerServlet</servlet-name>
        <servlet-class>com.badiyan.uk.online.servlets.PractitionerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShopServlet</servlet-name>
        <servlet-class>com.badiyan.uk.online.servlets.ShopServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RetailServlet</servlet-name>
        <servlet-class>com.valonyx.servlets.RetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ScheduleServlet2</servlet-name>
        <servlet-class>com.badiyan.uk.online.servlets.ScheduleServlet2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClientServlet2</servlet-name>
        <servlet-class>com.badiyan.uk.online.servlets.ClientServlet2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InventoryServlet2</servlet-name>
        <servlet-class>com.badiyan.uk.online.servlets.InventoryServlet2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FitnessServlet</servlet-name>
        <servlet-class>com.valonyx.fitness.servlets.FitnessServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetVideoUploadServlet</servlet-name>
        <servlet-class>com.valonyx.fitness.servlets.SetVideoUploadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>qbmsCallbackHandler</servlet-name>
        <url-pattern>/QBMSCallbackServlet.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>action</servlet-name>
        <url-pattern>*.x</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReceiveSyncObjectsFromServerServlet</servlet-name>
        <url-pattern>/ReceiveSyncObjectsFromServerServlet.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAuthorsProfile</servlet-name>
        <url-pattern>/GetAuthorsProfile.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AICCManager</servlet-name>
        <url-pattern>/AICCManager.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationServlet</servlet-name>
        <url-pattern>/RegistrationServlet.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CourseTreeChannelServlet</servlet-name>
        <url-pattern>/CourseTreeChannelServlet.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PersonSearchServlet</servlet-name>
        <url-pattern>/PersonSearchServlet.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompanySearchServlet</servlet-name>
        <url-pattern>/CompanySearchServlet.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewCompanyServlet</servlet-name>
        <url-pattern>/NewCompanyServlet.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PersonEditServlet</servlet-name>
        <url-pattern>/PersonEditServlet.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PersonNewServlet</servlet-name>
        <url-pattern>/PersonNewServlet.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PersonPasswordEditServlet</servlet-name>
        <url-pattern>/PersonPasswordEditServlet.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompanyEditServlet</servlet-name>
        <url-pattern>/CompanyEditServlet.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DepartmentProfileEditServlet</servlet-name>
        <url-pattern>/DepartmentProfileEditServlet.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DBSyncServlet</servlet-name>
        <url-pattern>/DBSyncServlet.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DBUpdateServlet</servlet-name>
        <url-pattern>/DBUpdateServlet.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DBUpdateConfirmServlet</servlet-name>
        <url-pattern>/DBUpdateConfirmServlet.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DBPersonUpdateServlet</servlet-name>
        <url-pattern>/DBPersonUpdateServlet.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DBPersonUpdateConfirmServlet</servlet-name>
        <url-pattern>/DBPersonUpdateConfirmServlet.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DBSyncTabletUserApproveServlet</servlet-name>
        <url-pattern>/DBSyncTabletUserApproveServlet.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JSONServlet</servlet-name>
        <url-pattern>/JSONServlet.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dwr-invoker</servlet-name>
        <url-pattern>/dwr/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ScheduleServlet</servlet-name>
        <url-pattern>/ScheduleServlet.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ScheduleServletPlastique</servlet-name>
        <url-pattern>/ScheduleServletPlastique.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InventoryServlet</servlet-name>
        <url-pattern>/InventoryServlet.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClientServlet</servlet-name>
        <url-pattern>/ClientServlet.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewCheckoutCodeAction</servlet-name>
        <url-pattern>/NewCheckoutCodeAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QBWebConnectorSvc</servlet-name>
        <url-pattern>/QBWebConnectorSvc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShopServlet</servlet-name>
        <url-pattern>/ShopServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PractitionerServlet</servlet-name>
        <url-pattern>/PractitionerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RetailServlet</servlet-name>
        <url-pattern>/RetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ScheduleServlet2</servlet-name>
        <url-pattern>/ScheduleServlet2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClientServlet2</servlet-name>
        <url-pattern>/ClientServlet2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InventoryServlet2</servlet-name>
        <url-pattern>/InventoryServlet2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FitnessServlet</servlet-name>
        <url-pattern>/FitnessServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetVideoUploadServlet</servlet-name>
        <url-pattern>/SetVideoUploadServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>120</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <!--
    <taglib>
        <taglib-uri>/loginTags</taglib-uri>
        <taglib-location>/WEB-INF/tlds/login.tld</taglib-location>
    </taglib>
    <taglib>
        <taglib-uri>/apacheSession</taglib-uri>
        <taglib-location>/WEB-INF/tlds/session.tld</taglib-location>
    </taglib>
    <taglib>
        <taglib-uri>/apacheRequest</taglib-uri>
        <taglib-location>/WEB-INF/tlds/request.tld</taglib-location>
    </taglib>
    <taglib>
        <taglib-uri>/WEB-INF/struts-html.tld</taglib-uri>
        <taglib-location>/WEB-INF/struts-html.tld</taglib-location>
    </taglib>
    <taglib>
        <taglib-uri>/WEB-INF/struts-bean.tld</taglib-uri>
        <taglib-location>/WEB-INF/struts-bean.tld</taglib-location>
    </taglib>
    <taglib>
        <taglib-uri>/WEB-INF/struts-logic.tld</taglib-uri>
        <taglib-location>/WEB-INF/struts-logic.tld</taglib-location>
    </taglib>
	-->
</web-app>
